@media(min-width: 1920px) {
  .team-list {
    .team-item {
      .user-list {
        .user-item {
          .user-item-name {
            font-size: 2rem;
          }
          .user-item-links {
            i {
              font-size: 2.9rem;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 991px) {
  .team-list {
    .team-item {
      .user-list {
        .user-item {
          .user-item-name {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
