<h3>Anfragen</h3>
<h4>Alle offenen Anfragen</h4>
<accordion [closeOthers]="true">
  <accordion-group *ngFor="let request of dataService.requests | requestFilter: {status: 0}">
    <button class="btn btn-link btn-block clearfix" accordion-heading>
      <div class="row">
        <div class="col-4 text-left">
          {{request.subject}}
        </div>
        <div class="col-3">
          {{request.sender.getFullName()}}
        </div>
        <div class="col-3">
          {{request.tstamp |date:'dd.MM.yyyy, HH:mm'}}
        </div>
        <div class="col-2 text-right">
          <div class="opener"></div>
        </div>
      </div>
    </button>
    <div class="row">
      <div class="col-6" [innerHtml]="request.message"></div>
    </div>
  </accordion-group>
</accordion>
<div class="row mt-5 mb-5" *ngIf="!(dataService.requests | requestFilter: {status: 0}).length">
  <div class="col-12 text-center">
    <i class="fal fa-laugh-beam" style="font-size: 7rem;"></i>
    <p class="lead mt-3">Klasse! Du hast keine offenen Anfragen.</p>
  </div>
</div>
<hr/>
<h4 class="mt-5">Alle Anfragen</h4>
<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]="searchWord" placeholder="Suchbegriff eingeben..."/>
</div>
<div class="form-group">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)]="showRequestsToMe">
    <label class="form-check-label" for="inlineCheckbox1">Anfragen an dich</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" [(ngModel)]="showRequestsFromMe">
    <label class="form-check-label" for="inlineCheckbox2">Anfragen von dir</label>
  </div>
</div>
<div class="form-group">
  <select class="custom-select" [(ngModel)]="showByStatus">
    <option [ngValue]="-1">Alle</option>
    <option [ngValue]="0">Offen</option>
    <option [ngValue]="1">Geschlossen</option>
  </select>
</div>
<accordion [closeOthers]="true">
  <accordion-group
    *ngFor="let request of dataService.requests | requestFilter: {status: showByStatus, showRequestsToMe: showRequestsToMe, showRequestsFromMe: showRequestsFromMe, searchWord: searchWord}">
    <button class="btn btn-link btn-block clearfix" accordion-heading>
      <div class="row">
        <div class="col-4 text-left">
          {{request.subject}}
        </div>
        <div class="col-3">
          {{request.sender.getFullName()}}
        </div>
        <div class="col-3">
          {{request.tstamp |date:'dd.MM.yyyy, HH:mm'}}
        </div>
        <div class="col-2 text-right">
          <div class="opener"></div>
        </div>
      </div>
    </button>
    <div class="row">
      <div class="col-6" [innerHtml]="request.message"></div>
    </div>
  </accordion-group>
</accordion>
<div class="row mt-5 mb-5" *ngIf="!(dataService.requests | requestFilter: {status: showByStatus, showRequestsToMe: showRequestsToMe, showRequestsFromMe: showRequestsFromMe, searchWord: searchWord}).length">
  <div class="col-12 text-center">
    <i class="fal fa-sad-tear" style="font-size: 7rem;"></i>
    <p class="lead mt-3">Ups. Es wurden keine Anfragen für dich gefunden.</p>
  </div>
</div>
