<div class="sidebar-profile" *ngIf="user">
  <div class="row">
    <div class="col-4">
      <img [src]="user.images[0]" class="sidebar-profile-image img-fluid" *ngIf="user.images.length > 0"/>
      <img src="assets/images/no-profile-image.png" class="sidebar-profile-image img-fluid"
           *ngIf="user.images.length === 0"/>
    </div>
    <div class="col-8 d-flex flex-column justify-content-center" *ngIf="user">
      <span class="sidebar-profile-name">{{user.getFullName()}}</span>
      <ng-container *ngIf="user.status">
              <span class="sidebar-profile-status {{user.getStatusClass()}}"
                    (click)="modalService.show(content)"><i
                class="fas fa-dot-circle"></i> {{user.status.title}}</span>
      </ng-container>
      <span class="sidebar-profile-show" routerLink="/profile">Profil anzeigen</span>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Status auswählen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="dataService.modalReference.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="btn-group w-100" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-block btn-outline-siwa dropdown-toggle"
              aria-controls="dropdown-basic">
        {{user.status.title}} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu w-100"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem" *ngFor="let status of dataService.statuses"><a class="dropdown-item" href="#"
                                                                            (click)="selectStatus(status)">{{status.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="dataService.modalReference.hide()">Schließen</button>
  </div>
</ng-template>
