<div class="w-100 h-100 login-background"
     [ngStyle]="{'background-image': 'url(assets/images/login-background.jpg)'}"></div>
<div class="w-100 h-100 d-flex align-items-center login-foreground">
  <div class="row w-100 d-flex justify-content-center">
    <div class="col-6">
      <h1 class="mb-3">SIWA Companion</h1>
      <form [formGroup]="loginForm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="username"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Benutzername" aria-label="Benutzername"
                 aria-describedby="username" formControlName="username" autocomplete="username">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Passwort" aria-label="Passwort"
                 aria-describedby="password" formControlName="password" autocomplete="current-password">
        </div>
        <div class="input-group mb-3">
          <button class="btn btn-siwa btn-block" (click)="signIn()" [disabled]="!loginForm.valid"><i class="fas fa-sign-in"></i> Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>

