<div class="wrapper">
  <app-sidebar [sidebarActive]="sidebarActive" *ngIf="!sidebarHidden"></app-sidebar>
  <div id="content"  [ngClass]="{'no-padding': sidebarHidden, 'loading': activeRequests > 0}">
    <button type="button" id="sidebarCollapse" class="btn btn-siwa" (click)="sidebarActive = !sidebarActive;" *ngIf="!sidebarHidden">
      <i class="fas fa-align-left"></i>&nbsp;
      <span *ngIf="sidebarActive">Sidebar schließen</span><span *ngIf="!sidebarActive">Sidebar öffnen</span>
    </button>
    <router-outlet></router-outlet>
    <app-loading *ngIf="activeRequests > 0"></app-loading>
  </div>
</div>
