<nav id="sidebar" [ngClass]="sidebarActive ? 'active' : ''">
  <div class="sidebar-header">
    <h3>SIWA Companion</h3>
  </div>
  <app-sidebar-profile></app-sidebar-profile>
  <ul class="list-unstyled components">
    <li routerLink="/helpcenter" routerLinkActive="active">
      <span><i class="far fa-hands-helping"></i> Helpcenter</span>
    </li>
    <li routerLink="/requests" routerLinkActive="active">
      <span><i class="far fa-question-circle"></i> Requests</span>
    </li>
    <!--<li routerLink="/settings" routerLinkActive="active">
      <span><i class="far fa-cogs"></i> Einstellungen</span>
    </li>-->
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a href="#" class="empty"><i class="far fa-code-branch"></i> 1.0.0</a>
    </li>
    <li>
      <span class="filled" (click)="signOut()"><i class="fas fa-sign-out"></i> Sign out</span>
    </li>
  </ul>
</nav>
