<div class="team-list">
  <ng-container *ngFor="let team of dataService.teams">
    <div class="row" *ngIf="team.members.length > 0">
      <div class="col-12">
        <div class="team-item">
          <h3>{{team.name}}</h3>
          <div class="user-list">
            <div class="row">
              <ng-container *ngFor="let user of team.members">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                  <app-user-item [user]="user" *ngIf="user.uid !== dataService.currentUser.uid"></app-user-item>
                  <app-user-item [user]="dataService.currentUser"
                                 *ngIf="user.uid === dataService.currentUser.uid"></app-user-item>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
