<div class="user-item {{user.getStatusClass()}}">
  <div class="user-item-special">
      <i class="far fa-crown" *ngIf="user.commander"></i>
  </div>
  <div class="user-item-profile-image">
    <div class="row d-flex justify-content-center">
      <div class="col-8 col-xl-6">
        <img [src]="user.images[0]" class="img-fluid" *ngIf="user.images.length > 0"/>
        <img src="assets/images/no-profile-image.png" class="img-fluid" *ngIf="user.images.length === 0" />
      </div>
    </div>
  </div>
  <div class="user-item-name">{{user.getFullName()}}</div>
  <div class="user-item-links" *ngIf="dataService.currentUser.uid !== user.uid">
    <div class="row d-flex justify-content-center">
      <div class="col-3 text-center" *ngIf="user.slackId">
        <a [href]="sanitize(user.getSlackUrl())">
          <i class="fab fa-slack" placement="top" ngbTooltip="Direct message via Slack"></i>
        </a>
      </div>
      <div class="col-3 text-center">
        <i class="fal fa-question-circle" (click)="modalService.show(sendRequest,{class:'modal-lg'})"></i>
      </div>
<!--      <div class="col-3 text-center">
        <i class="fal fa-beer"></i>
      </div>-->
    </div>
  </div>
</div>
<ng-template #sendRequest let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Frage stellen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="dataService.modalReference.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ckeditor [(ngModel)]="editorValue"></ckeditor>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="dataService.modalReference.hide()">Abbrechen</button>
    <button type="button" class="btn btn-outline-siwa">Absenden</button>
  </div>
</ng-template>
