.btn-siwa {
    color: #fff;
    background-color: $siwa-red;
    border-color: $siwa-red;
}
.btn-outline-siwa {
  color: $siwa-red;
  background-color: transparent;
  background-image: none;
  border-color: $siwa-red;
  &:hover, &:active, &:focus {
    color: #fff;
    background-color: $siwa-red;
    border-color: $siwa-red;
  }
}
.btn-outline-siwa:not(:disabled):not(.disabled):active, .btn-outline-siwa:not(:disabled):not(.disabled).active, .show > .btn-outline-siwa.dropdown-toggle{
  background-color: $siwa-red;
  border-color: $siwa-red;
}
.btn-link{
  &:hover, &:active, &:focus{
    text-decoration: none;
  }
}
