app-loading{
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  background: #FFFFFF;
  z-index: 100;
  img{
    width: 7rem;
  }
  .loading-text{
    margin: .5rem 0 0;
    font-size: 1.8rem;
  }
}
