app-login {
  .login-background{
    background-size: cover;
    background-position: center center;
    -webkit-filter: blur(.5rem);
    -moz-filter: blur(.5rem);
    -o-filter: blur(.5rem);
    -ms-filter: blur(.5rem);
    filter: blur(.5rem);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

  }
  .login-foreground{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    h1{
      color: white;
      margin-bottom: 3rem;
      border-bottom: .5rem solid;
    }
    .input-group-text{
      background-color: $siwa-red;
      color: white;
      border-color: white;
    }
    input{
      background-color: transparent;
      border-left: none;
      border-color: white;
      color: white;
      &:focus{
        background: transparent;
        color: white;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }
}
