.navbar {
  padding: 1.5rem 1rem;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 4rem;
  box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
