.sidebar-profile{
  padding: 1.5rem;
  .sidebar-profile-name{
    font-weight: 500;
    font-size: 1.2rem;
  }
  .sidebar-profile-status{
    font-size: 1rem;
    &.online{
      color: green;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .sidebar-profile-show{
    font-size: 1rem;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .sidebar-profile-image{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
  }
}
