@import 'sidebar-profile';

#sidebar {
  min-width: 25rem;
  max-width: 25rem;
  background: $sidebar-background;
  color: $sidebar-color;
  transition: all 0.3s;
  margin-left: -25rem;
  height: 100%;
  &.active{
    margin-left: 0;
  }
  .sidebar-header {
    padding: 2rem;
    background: $siwa-red;
    color: #FFF;
  }
  ul{
    &.components{
      padding: 0 0 2rem;
      border-bottom: .1rem solid #47748b;
    }
    p {
      color: $sidebar-color;
      padding: 1rem;
    }
    li {
      &:focus, &:active{
        outline: 0;
      }
      a, span {
        padding: 1rem;
        font-size: 1.8rem;
        display: block;
        &:hover {
          color: $siwa-red;
          background: #fff;
          cursor: pointer;
        }
        &:focus, &:active{
          outline: 0;
        }
      }
      &.active {
        > a, span {
          color: #fff;
          background: $siwa-red;
        }
      }
    }
  }
}
