$status-border-width: .3rem;
.user-item {
  margin: 3rem 0;
  .user-item-special{
    text-align: center;
    min-height: 2.4rem;
    .fa-crown{
      color: goldenrod;
    }
  }
  .user-item-profile-image {
    position: relative;
    img {
      border-radius: 50%;
      width: 100%;
      margin-bottom: 1.5rem;
      border: $status-border-width solid #FFFFFF;
    }
  }
  .user-item-name {
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .user-item-links {
    i {
      font-size: 1.9rem;
    }
  }
  &.online {
    .user-item-profile-image {
      img {
        border: $status-border-width solid green;
      }
    }
  }
}
