/* You can add global styles to this file, and also import other style files */
@import 'fonts';
@import 'styles-variables';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/brands';
@import 'buttons';
@import 'sidebar';
@import 'navbar';
@import 'user-item';
@import 'loading';
@import 'login';

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
html{
  font-size: 62.5%;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 3rem !important;
  background: $siwa-red;
}

ul.CTAs {
  padding: 2rem;
}

ul.CTAs a, ul.CTAs span {
  text-align: center;
  font-size: 1.5rem !important;
  display: block;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

a.empty {
  background: #fff;
  color: $siwa-red;
}

a.filled, a.filled:hover,span.filled, span.filled:hover {
  background: $siwa-red !important;
  color: #fff !important;
  cursor: pointer;
}

#content {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
  -webkit-box-shadow: inset .8rem 0 1.5rem -1.2rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset .8rem 0 1.5rem -1.2rem rgba(0, 0, 0, 0.75);
  box-shadow: inset .8rem 0 1.5rem -1.3rem rgba(0, 0, 0, 0.75);
  &.loading{
    max-height: 100%;
    overflow: hidden;
    height: 100vh;
  }
}

.no-padding{
  padding: 0 !important;
}
#sidebarCollapse{
  margin-bottom: 1.5rem;
}
@import 'responsive/responsive';
